body {
  font-size: 20px;
  color: #874414;
  background-color: #66e01f;
  font-family: 'Roboto', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #137310;
  border-radius: 0;
  border: 0;
}



.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lato', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 10px 1px 10px #334a32;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #26ff00;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#singleSection {
  
    height: 1000px;
    background-color: #93eb10;
    padding: 10px;

